.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h3 {
  color: #2e3b4e;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

li:hover {
  background-color: #ddd;
}

select {
  padding: 8px;
  margin: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #fafafa;
}
